.app-display-area{
    background-image: url("../images/banner/app-displaybg.png");
    height: 900px;
    text-align: center;
    .app-headline{
        font-size: $fs35;
        line-height: 45px;
        padding-top: 103px;
        padding-bottom: 83px;
    }
    .app-display-image{
        padding-bottom: 15px;
        margin-right: 110px;
    }
    .app-display-btn{
        a{
            @include global-btn;
            border: 1px solid $btnbg-color;
            color: $btnbg-color;
            display: inline-block;
            font-size: 14px;
            font-weight: 300;
            line-height: 50px;
            height: 51px;
            margin-right: 28px;
            padding: 0;
            transition: all .3s;
            width: 152px;
            &:hover{
                background-color: $btnbg-color;
                color: $white-color;
            }
            i{
                padding-right: 16px;
            }
        }
    }
}
.app-display-area.home7 .app-display-btn i,.app-display-area.home7 .app-display-btn a{
    color: $home6-color !important;
}
.app-display-area.home7 .app-display-btn a{
    border: 1px solid $home6-color;
}
.app-display-area.home7 .app-display-btn a:hover {
    color: $dark-color !important;
    background-color: transparent !important;
}
.app-display-area.home7 .app-display-btn :hover i{
    color: $dark-color !important;
    background-color: transparent !important;
}