// banner
.home4-banner-area{
    background-image: url('../images/banner/home4-banner.png');
    background-size: contain;
    background-position: center;
    width: 100%;
    padding-bottom: 322px;
    .banner-left-content{
        position: relative;
        top: 59%;
        .banner-heading{
            color: $white-color;
            font-size: $fs45;
            font-weight: 400;
            line-height: 55px;
            padding-bottom: 18px;
            text-transform: capitalize;
        }
        .banner-sub-heading{
            color: $white-color;
            font-size: $fs24;
            line-height: 40px;
            padding-bottom: 38px;
            padding-right: 53px;
        }
        .banner-btn{
            .banner-btn-uniq{
                @include global-btn;
                color: $white-color;
                padding: 21px 41px;
                &:hover{
                    background-color: $white-color;
                    color: $dark-color;
                }
            }
            // a{}
            i{
                color: $white-color ;
                font-size: $fs30;
                padding: 0 18px;
                &:hover{
                    color: $home6-color;
                }
            }
        }
    }
    .banner-right-content{
        position: relative;
        top: 38%;
        left: 8%;
        animation: rotateEarth 7s infinite;
    }
}
.home4-banner-area.home6{
  background-image: none;
  .banner-left-content{
    .banner-heading{
        color: $dark-color;
    }
    .banner-sub-heading{
        color: $dark-color;
    }
    .banner-btn{
        .banner-btn-uniq{
            @include global-btn;
            border-color: $btnbg-color;
            color: $btnbg-color;
            padding: 20px 42px;
            &:hover{
                background-color: $btnbg-color;
                color: $dark-color;
                border: 1px solid transparent;
            }
        }
        // a{}
        i{
            font-size: $fs30;
            padding: 0 18px;
        }
    }
}
.banner-right-content{
    position: relative;
    top: 38%;
    left: 8%;
    animation: rotateEarth 7s infinite;
}
}
.home4-banner-area.home6{
    background-image: url('../images/banner/home6-bannerbg.png');
    a{
        color: $dark-color !important;
    }
    .banner-left-content{
      .banner-heading{
          color: $dark-color;
      }
      .banner-sub-heading{
          color: $dark-color;
      }
      .banner-btn{
          .banner-btn-uniq{
              @include global-btn;
              border-color: $home6-color;
              color: $dark-color;
              padding: 20px 42px;
              &:hover{
                  background-color: $home6-color;
                  color: $white-color;
                  border: 1px solid transparent;
              }
          }
          // a{}
          i{
              color: $primary-color;
              font-size: $fs30;
              padding: 0 18px;
          }
      }
  }
  .banner-right-content{
      position: relative;
      top: 38%;
      left: 8%;
      animation: rotateEarth 7s infinite;
  }
  }

.banner-area.index2.home7{
    background-image: url("../images/banner/home7-bannerbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
    .banner-left{
        margin-top: 35%;
        margin-left: 30%;
        .banner-content{
            .banner-heading {
                color: $dark-color;
                font-size: 45px;
                font-weight: 600;
                line-height: 55px;
                padding-bottom: 20px;
            }
            .banner-para{
                color: $para-color;
                font-size: $fs24;
                line-height: 40px;
                padding-bottom: 18px;
                padding-right: 84px;
            }
            .banner-btn{
                a{
                    color: $white-color;
                }
                .banner-btn1{
                    color: $white-color;
                    border: 1px solid $white-color;
                    border-radius: 30px;
                    background-color: transparent;
                    font-size: 16px;
                    display: inline-block;
                    margin-right: 20px;
                    outline: 1px solid transparent;
                    padding: 17px 53px;
                    text-transform: capitalize;
                    transition: all .4s;
                    &:hover{
                        background-color: $white-color;
                    }
                    &:hover a{
                        color: $dark-color;
                    }
                }
                .banner-btn2 {
                    border: none;
                    box-shadow: none;
                    background-color: transparent;
                    color: $white-color;
                    font-size: 16px;
                    font-weight: bold;
                    position: relative;
                    &:before {
                        background-color: $white-color;
                        bottom: -6px;
                        content: "";
                        height: 2px;
                        left: 0;
                        position: absolute;
                        transition: all .3s;
                        transform: scaleX(1);
                        width: 100%;
                    }
                    &:hover:before{
                        transform: scaleX(0);
                    }
                }

            }
        }
    }
    .banner-right{
        // margin: 233px 25px 0 0px;
        .banner-image.index2banner{
            img{
                margin: 178px 0px 0 0px;
            }
        }
    }
}

@keyframes rotateEarth {
    0% {
      bottom: 8px
    }
    25% {
      left: 14px
    }
    50% {
      top: 130px
    }
    75% {
      right: 20px
    }
    100% {
      right: 14px
    }
  }