.faq-area{
    padding: 100px 0;
    .accordion{
        .single-item{
            padding: 0 90px;
            border-top: 1px solid #ddd;
            margin: 20px 0;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                top: 3px;
                left: 7%;
                height: 90%;
                width: 2px;
                margin: auto;
                background-color: rgb(241, 234, 234);
            }
            .accordion-header{
                
                .accordion-button{
                    font-size: 18px;
                    &:after {
                        color: #0c63e4;
                        content: "\2b";
                        font-size: 34px;
                        top: -10px;
                        left: -60px;
                        margin-right: auto;
                        position: absolute;
                        transition: transform .2s ease-in-out;
                    }
                }
                .accordion-button:not(.collapsed) {
                    color: #0c63e4;
                    background-color: transparent;
                    box-shadow: none;
                    
                }
                .accordion-button::after {
                    background-image: none;
                }
                .accordion-button:not(.collapsed)::after {
                    background-image: none;
                    content: "\f068";
                    font-size: 24px;
                    font-family: "Font Awesome 6 free";
                    left: -60px;
                    margin-right: auto;
                    position: absolute;
                    top: 23px;
                    transition: transform .2s ease-in-out;
                }
            }
            .accordion-body{
                font-size: 16px;
                line-height: 28px;
                
            }
        }
    }
}