
// home5
header.home5{
    .header-top{
        .container-fluid{
            .header-top .row{
                .header-logo{
                    a{
                        img{
                            max-width: 100px;
                        }
                    }
                }
            }
        }
        .main-nav{
            ul{
                li{
                    &:hover a{
                        color: $btnbg-color;
                    }
                    &:hover a:before{
                        transform: scaleX(1);
                    }
                    a{
                        color: $dark-color;
                        &:before{
                            background-color: $btnbg-color;
                        }
                    }
                }
            }
        }
        .get-now-btn {
            a{
                @include global-btn;
                color: $btnbg-color;
                border-color: $btnbg-color;
            }
            &:hover.get-now-btn a{
                background-color: $btnbg-color;
                color: $white-color;
            }
           
        }
    }
}
// home6
header.home6{
    .header-top{
        .container-fluid{
            .header-top .row{
                .header-logo{
                    a{
                        img{
                            max-width: 100px;
                        }
                    }
                }
            }
        }
        .main-nav{
            ul{
                li{
                    &:hover a{
                        color: $home6-color !important;
                    }
                    &:hover a:before{
                        transform: scaleX(1);
                    }
                    a{
                        color: $dark-color;
                        &:before{
                            background-color: $home6-color;
                        }
                    }
                }
            }
        }
        .get-now-btn {
            align-items: center;
            display: flex;
            a{
                @include global-btn;
                border-color: $home6-color !important;
                color: $home6-color !important;
            }
            &:hover.get-now-btn a{
                background-color:  $home6-color;
                color: $white-color !important;
            }
           
        }
    }
}

// drop-menu
.drop-menu {
    background-color: $white-color;
    transform: scaleY(0);
    position: absolute;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    transition: all .5s;
    text-align: left;
    transform-origin: 0 0 0;
    top: 170%;
    visibility: hidden;
    width: 270px;
    z-index: 2;
}
.main-nav>ul>li:hover>.drop-menu {
    display: grid;
    transform: scaleY(1);
    top: 100%;
    visibility: visible;
}
.drop-holder {
    position: relative;
}
.drop-menu li a::before{
    background-color: transparent !important;
}
.drop-menu  a{
    color: $dark-color !important;
    transition: all .5s;
}
.drop-menu > li {
    padding: 15px 0 !important;
}
.drop-menu a:hover {
    color: $btnbg-color;
    padding-left: 15px;
}
// header4
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111;
    .header-top{
    width: 100%;
    left: 0;
    min-height: 80px;
    z-index: 999999;
        .container-fluid{
            padding: 0px 80px;
            .header-top .row{
                align-items: center;
                .blog-header-logo{
                    max-width: 126px;
                    height: auto;
                }
                .header-logo{
                    a{
                        img{
                            max-width: 100px;
                        }
                    }
                }
            }
        }
        .main-nav{
            ul{
                li{
                    display: inline-block;
                    list-style: none;
                    padding: 57px 21px;
                    &:hover a:before{
                        transform: scaleX(1);
                    }
                    a{
                        color: white;
                        font-size: $fs16;
                        font-weight: 400;
                        position: relative;
                        &:before{
                            background-color: $white-color;
                            bottom: -2px;
                            content: "";
                            height: 1px;
                            left: 0;
                            position: absolute;
                            transform: scaleX(0);
                            transition: all .3s;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .get-now-btn {
            align-items: center;
            display: flex;
            a{
                @include global-btn;
                display: inline-block;
                margin-left: 33px;
            }
            &:hover.get-now-btn a{
                background-color:  $white-color;
                color: $dark-color;
            }
           
        }
    }
}

//  just sticky header code
header.sticky{
    transition: all .7s;
    scroll-behavior: smooth;
    box-shadow: 0px 1px 5px #fff;
    .header-top{
        width: 100%;
        left: 0;
        min-height: 80px;
        z-index: 999999;
            .main-nav{
                ul{
                    li{
                        display: inline-block;
                        list-style: none;
                        padding: 40px 17px;
                        &:hover a:before{
                            transform: scaleX(1);
                        }
                        a{
                            color: $white-color;
                            font-size: $fs16;
                            font-weight: 400;
                            position: relative;
                            &:before{
                                background-color: $white-color;
                                bottom: -2px;
                                content: "";
                                height: 1px;
                                left: 0;
                                position: absolute;
                                transform: scaleX(0);
                                transition: all .3s;
                                width: 100%;
                            }
                        }
                    }
                }
            }

        }
    background-color: $dark-color;
    z-index: 999;
}