

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
    // header
    header{
        .header-top{
            .container-fluid{
                .header-top .row{
                    .blog-header-logo{
                    }
                    .header-logo{
                        a{
                            img{
                            
                            }
                        }
                    }
                }
            }
            .main-nav{
                ul{
                    li{
                        }
                        a{
                            font-size: 14px;
                        }
                    }
                }
            }
            .get-now-btn {
                a{
                }
                &:hover.get-now-btn a{
                
                }
            
            }
    }
    // banner
    .home4-banner-area{
        height: 800px;
        background-size: cover;
        .banner-left-content{
            .banner-heading{
            }
            .banner-sub-heading{
            }
            .banner-btn{
                .banner-btn-uniq{
                    &:hover{
                    }
                }
                // a{}
                i{
                }
            }
        }
        .banner-right-content{
            left: 3%;
        }
    }

    .features-area{
        .features-content{
        .features-text{
            padding-top: 54px;
            //     .features-image{
            //         // img{

            //         // }
            //     }
            //    .features-image2{
            //     padding-left: 30px;
            //    }
        }
        }
        .features-content{
            .features-image1{
            }
            .features-text{
                max-width: 100%;
                padding-top: 100px;
                .features-title{
            }
            .features-text2{
                a{

                }
            }
            .freatures-subtitle{
            }
            a{
               
            }
            
        }
    }
    







    }
}



// // Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    // header
    header{
        .header-top{
            .container-fluid{
                .header-top .row{
                    .blog-header-logo{
                    }
                    .header-logo{
                        a{
                            img{
                            
                            }
                        }
                    }
                }
            }
            .main-nav{
                ul{
                    li{
                        padding: 25px 14px;
                        }
                        a{
                        }
                    }
                }
            }
            .get-now-btn {
                a{
                    font-size: 14px;
                    padding: 9px 20px;
                }
                &:hover.get-now-btn a{
                
                }
            
            }
    }
// banner
    .home4-banner-area{
        height: 700px;
        .banner-left-content{
            .banner-heading{
            }
            .banner-sub-heading{
                font-size: 19px;
                line-height: 31px;
            }
            .banner-btn{
                .banner-btn-uniq{
                    &:hover{
                    }
                }
                // a{}
                i{
                }
            }
        }
        .banner-right-content{
            position: relative;
            top: 38%;
            left: 2%;
        }
        
    }
    .support-area{ 
        padding-top: 50px;
        .container {
            border-bottom: 1px solid #e0e0e0;
            padding-bottom: 28px;
        }
    }
    // features
    .features-area{
        padding: 48px 0 0px 0;
        .features-content{
            padding-bottom: 50px;
        .features-text{
            padding-top: 160px;
            //     .features-image{
            //         // img{

            //         // }
            //     }
            //    .features-image2{
            //     padding-left: 30px;
            //    }
        }
        }
        .features-content{
            .features-image1{
                padding-left: 46px;
            }
            .features-text{
                padding-top: 100px;
                .features-title{
                    font-size: 28px;
                    line-height: 35px;
                }
            }
            .features-text2{
                padding: 67px 0px 0 17px;
                a{

                }
            }
            .freatures-subtitle{
                font-size: 14px;
                line-height: 26px;
                margin-bottom: 52px;
                padding-right: 36px; 
            }
            a{
               
            }
            
        }
    }

    .video-features-area{
        padding: 33px 0 43px 0;
    .video-title-area{
        .video-title{
            @include section-title;
            padding-bottom: 0px;
        }
        .video-sub-title{
            padding-bottom: 41px;
            
        }
    }
    .video-player-content{
        .o-video{
            iframe{
                border-radius: 5px;
                width: 100%;
            }
        }
    }
    }
    .explore-features-area{
        padding: 32px 0 0px 0;
        .explore-content{
            .explore-title{
            }
            .explore-sub-title{
            }

        }
        .explore-items{
            padding: 0 35px;
            .explore-single-item{
                padding-bottom: 27px;
                .explore-icon{
                }
                .explore-text{
                    .explore-name{
                    }
                    .explore-name-bio{
                        padding-right: 0px;
                    }
                }
            }
        }
    }
    // user count
    .user-count-area{
        height: 290px;
        .count-area{
            padding-top: 30px;
            .user-count{
                font-size: 45px;
                line-height: 55px;
            }
            .count-text{
                font-size: 45px;
                line-height: 55px;
            }
            .count-help{
                padding: 0px 0 47px 0;
            }
            a{
            }

        }
    }
    // testimonial
    .testimonial-area{
        padding: 33px 0 37px 0;
        .owl-carousel{
            display: block;
        }
        .review-title{
            @include section-title;
        }
        .client-slider{
            .testimonial-content{
                padding: 0 0 54px 40px;
                margin: 45px 0 37px 0;
                &::after{
                    font-size: 40px;
                    top: -32px;
                }
                .client-para{
                    color: $gray-color;
                    font-size: 15px;
                    line-height: 32px;
                    padding: 55px 34px 9px 0;
                }
                .client-details{
                    display: flex;
                    .client-image{
                    }
                    .client-bio{
                        // .client-name{}
                        .client-status{
                            
                            a{
                                
                            }
                        }
                    }
                }
            }
        }
    }

    .app-display-area{
        height: 690px;
        .app-headline{
            font-size: 30px;
            line-height: 40px;
            padding-top: 39px;
            padding-bottom: 39px;
        }
        .app-display-image{
            padding-bottom: 0;
            margin-right: 0;
        }
        .app-display-btn{
            a{
                @include global-btn;
                border: 1px solid $btnbg-color;
                color: $btnbg-color;
                display: inline-block;
                font-size: 14px;
                font-weight: 300;
                line-height: 50px;
                height: 51px;
                margin-right: 28px;
                padding: 0;
                transition: all .3s;
                width: 152px;
                &:hover{
                    color: $white-color;
                    background-color: $btnbg-color;
                }
                i{
                    padding-right: 16px;
                }
            }
        }
    }
    footer{
        .footer-top{
            padding: 24px 0 18px 0;
            .col-sm-4{
                
            margin: 0;
            }
            .footer-content1{
                .footer-text{
                    p{
                        padding-bottom: 0;
                    }
                }
            }
            .footer-content4 {
                .f-text {
                    a{
                        img {
                            height: 88px;
                            width: 88px;
                            padding: 5px;
                        }
                    }
                }
            }
        }
        
        .footer-bottom {
            .footer-bottom-left {
                span {
                    font-size: 12px;
                }
            }
        }
    }




}
    


// // Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    header{
        .header-top{
            .container-fluid{
                .header-top .row{
                    .blog-header-logo{
                    }
                    .header-logo{
                        a{
                            img{
                              
                            }
                        }
                    }
                }
            }
            .main-nav{
                ul{
                    li{
                        padding: 57px 13px;
                        a{
                            font-size: 12px;
                        }
                        }
                        }
            }
            .get-now-btn {
                a{
                    font-size: 12px;
                    padding: 7px 14px;
                    margin-left: 0px;
                }
                &:hover.get-now-btn a{
                   
                }
            }
        }
    }
            
         // banner
    .home4-banner-area{
            height: 500px;
            .banner-left-content{
                .banner-heading{
                    font-size: 35px;
                    line-height: 45px;
                    padding-bottom: 10px;
                }
                .banner-sub-heading{
                    font-size: 14px;
                    line-height: 26px;
                    padding-bottom: 20px;
                    padding-right: 10px;
    
                }
                .banner-btn{
                    .banner-btn-uniq{
                        padding: 13px 18px;
                        margin-right: 0px;
                        font-size: 14px;
                        &:hover{
                        }
                    }
                    // a{}
                    i{
                        font-size: 18px;
                        padding: 0 10px;
                    }
                }
            }
            .banner-right-content{
                
            }
    }
    .support-area {
        .container {
            .support-content {
                .support-single-content {
                    .support-title {
                        font-size: 14px;
                        line-height: 22px;
                        
                    }
                    .support-sub-title {
                        font-size: 12px;
                        max-width: 290px;
                    }
                }
            }
        }
    }
    // features
    .features-area{
        padding: 48px 0 0px 0;
        .features-content{
            padding-bottom: 50px;
        .features-text{
            padding-top: 160px;
            //     .features-image{
            //         // img{

            //         // }
            //     }
            //    .features-image2{
            //     padding-left: 30px;
            //    }
        }
        }
        .features-content{
            .features-image2{
                padding-right: 34px;
            }
            .features-image1{
                padding-left: 19px;
            }
            .features-text{
                padding-top: 0px;
                .features-title{
                }
            }
            .features-text2{
                padding: 0px 0px 0 17px;
                a{

                }
            }
            .freatures-subtitle{ 
            }
            a{
               
            }
            
        }
    }
    // video 
    .video-features-area{
        .video-title-area{
            .video-title{
            }
            .video-sub-title{
                
            }
        }
        .video-player-content{
            .o-video{
                &:hover:before{
                }
                &:before{
                    background-image: url("../images/blog/video.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                iframe{
                }
            }
        }
    }

    .explore-features-area {
        .explore-content {
            .explore-sub-title {
                font-size: 14px;
                line-height: 28px;
                max-width: 455px;
                margin: auto;
                padding-bottom: 40px;
            }
        }
    }
    

    .testimonial-area .owl-item.active {
        margin-right: 0px !important;
        margin-left: 2px;
    }


    footer {
        .footer-top {
            .footer-content4{
                .f-text {
                    a {
                        img {
                            height: 120px;
                            width: 120px;
                        }
                    }
                }
            }
            .footer-content1{
                .footer-social-icon {
                    li {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }


}
// // Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    // header
    header{
        .header-top{
            .container-fluid{
                .header-top .row{
                    .blog-header-logo{
                    }
                    .header-logo{
                        a{
                            img{
                              
                            }
                        }
                    }
                }
            }
            .main-nav{
                ul{
                    li{
                        a{
                        }
                        }
                        }
            }
            .get-now-btn {
                a{

                }
                &:hover.get-now-btn a{
                   
                }
            }
        }
    }
            
         // banner
    .home4-banner-area{
        height: 411px;
            .banner-left-content{
                top: 45%;
                .banner-heading{
                    font-size: 26px;
                    line-height: 35px;
                }
                .banner-sub-heading{
                    font-size: 14px;
                    line-height: 22px;
                    padding-right: 0px;
                }
                .banner-btn{
                    .banner-btn-uniq{
                        &:hover{
                        }
                    }
                    // a{}
                    i{
                    }
                }
            }
            .banner-right-content{
                top: 25%;
                left: 0%;
                
            }
    }
    // support

    .support-area {
        .container {
            .support-content {
                .support-single-content {
                    .support-title {
                        font-size: 14px;
                        line-height: 22px;
                        padding-bottom: 0px;
                    }
                    .support-sub-title {
                        color: #797988;
                        font-size: 12px;
                        max-width: 290px;
                    }
                }
            }
        }
    }
    // features
    .features-area{
        .features-content{
            .features-image {
                max-width: 60%;
                margin: auto;
            }
        }
    }


    // user-count
    .user-count-area {
        .count-area {
            a {
                padding: 20px 80px;

            }
        }
    }
    // app
    .app-display-area {
        height: 533px;
        background-position: bottom;
        .app-display-btn {
            a {
                margin-right: 4px;
                line-height: 40px;
                height: 40px;
                font-size: 9px;
                width: 105px;
            }
        }
    }
    footer {
        .footer-top {
            .footer-content4 {
                .f-text {
                    a {
                        img {
                            height: 120px;
                            width: 180px;
                        }
                    }
                }
            }
        }
    }

   





}

// // X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .home4-banner-area {
        height: 650px;
        .banner-left-content {
            top: 30%;
        }
        .banner-right-content {
            left: 27%;
            img{
                max-width: 70%;
            }
        }
    }
    .support-area .container .support-content {
        text-align: center;
        flex-direction: column;
        .support-sub-title {
            margin: auto;
        }
    }
    app-display-area {
        height: 460px;
    }
    .app-display-area .app-display-btn a {
        margin-right: 1px;
        font-size: 7px;
        width: 94px;
    }
    footer .footer-top .col-sm-4 {
        display: contents;
    }
    footer{
        .footer-content4{
            .row{
                justify-content: center;
            }
        }
    }
    .app-display-area .app-headline {
        max-width: 71%;
        font-size: 18px;
        margin: auto;
        line-height: 25px;
        padding-top: 39px;
        padding-bottom: 25px;
    }
    .testimonial-area .review-title {
        color: #1a264a;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }
    .user-count-area .count-area .user-count {
        font-size: 30px;
        line-height: 40px;
    }
    .user-count-area .count-area .count-text {
        font-size: 30px;
        line-height: 40px;
    }
    .user-count-area .count-area .count-help {
        padding: 0px 0 23px 0;
        font-size: 11px;
    }
    .user-count-area .count-area a {
        padding: 14px 41px;
    }
    .user-count-area .count-area a {
        font-size: 14px;
    }
    .user-count-area {
        height: 230px;
    }
    .explore-features-area .explore-content .explore-title {
        font-size: 24px;
        line-height: 30px;
    }
    .video-features-area .video-title-area .video-title {
        font-size: 24px;
        line-height: 34px;
    }
    .features-area .features-content .features-text .features-title {
        font-size: 24px;
        line-height: 34px;
    }
    

}
@media (max-width: 430.98px) {
    .home4-banner-area {
        height: 560px;
    }
    

}
