/* ==========newsletter-area ========== */
.newsletter-area {
    background-image: url(../images/banner/newsbg.png);
    padding-bottom: 145px;
    padding-top: 0px !important;
    text-align: center;
    .section-title {
        font-size: 35px;
        line-height: 60px;
        margin-bottom: 46px;
        padding-top: 140px;
    }
    .newsletter-input{
        text-align: center;
        position: relative;
        input {
            border: 1px solid $white-color;
            border-radius: 40px;
            background-color: transparent;
            min-width: 500px;
            padding: 17px 26px;
        }
        input::placeholder{
            color: $white-color;
        }
        .submit-btn {
            background-color: $white-color;
            color: $btnbg-color;
            font-weight: bold;
            margin-left: -74px;
            min-width: 200px !important;
            padding: 17px 26px;
            text-transform: uppercase;
        }
    }
}