// main-pricing-area home7
body{
    font-family: 'Quicksand', sans-serif;
}
.main-pricing-area.home7{
    background-color: $videobg-color;
    padding: 116px 0 122px 0;
    .pricing-title{
        @include pricing-title;
    }
    .pricing-sub-title{
        @include pricing-sub-title;
    }
    .pricing-content{
        @include pricing-content;
    }
    .pricing-image{
        img{
            min-height: 68px;
        }
    }
}
.main-pricing-area{
    padding: 70px 0 80px 0 !important;
}
// main-pricing
.pricing-area{
    background-color: $videobg-color;
    padding: 100px 0;
    .section-title{
        .main-heading{
            @include pricing-title;
        }
        .sub-heading{
            @include pricing-sub-title;
            padding: 15px 0 133px 0;
        }
    }
}
section.main-pricing-area {
    padding-top: 26px;
}
// .main-pricing-area .sub-heading {
//     color: #585e68;
//     font-size: 16px;
//     line-height: 28px;
//     padding: 32px 366px 70px 366px;
// }

.nav-link.pricing {
    border-radius: 40px 0 0px 40px;
    margin-top: -88px;
    padding: 17px 108px;
    text-align: center;
}
.nav-link.pricing2 {
    border-radius: 0 40px 40px 0;
    margin-top: -88px;
    padding: 17px 108px;
    text-align: center;
}
.pricing-content {
    background-color: $white-color;
    padding: 0px 0 0px 0;
    transition: all .3s;
    text-align: center;
    margin-bottom: 45px;
    margin-top: 50px;
}
.review-tab-wrapper .nav-tabs .nav-link {
    border: 1px solid #b6b6c5;
}
.review-tab-wrapper .nav-tabs {
    border-bottom: 1px solid transparent;
    justify-content: center;
    margin-top: 6px;
}
button#description-tab.active,
button#review-tab.active{
    background-color: #faf5ff;
}
.tabs-pricing{
    padding-bottom: 60px;
}
.pricing-content:hover{
    box-shadow: rgba(3, 3, 3, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.price-model{
    color: #1a264a;
    font-size: 18px;
    line-height: 60px;
}
.price-highlight {
    background-color: #faf5ff;
    margin-bottom: 48px;
    padding: 22px 0 35px 0;
}
.price-highlight sup{
    color: #6509e2;
    font-size: 24px;
    line-height: 40px;
}
.price-highlight .model-rate{
    color: #6509e2;
    font-size: 72px;
    font-weight: 500;
    line-height: 40px;
}
.price-highlight .limit-time{
    color: #6509e2;
    font-size: 16px;
    line-height: 40px;
}
.user-limit,.elementlimit,.support-limit{
    color: #585e68;
    font-size: 18px;
    text-transform: capitalize;
}
.try {
    color: #d4d4d4;
    margin-bottom: 58px;
    text-transform: uppercase;
}
.pricing-btn button {
    border-radius: 40px;
    border: 1px solid rebeccapurple;
    background: transparent;
    color: $dark-color;
    font-size: 14px;
    line-height: 40px;
    padding: 9px 75px;
    transition: all .3s;
    
}
.pricing-content:hover .pricing-btn button{
    background: linear-gradient(to right, #4b0dd3 0%, #9700ff 100%);
    color: $white-color;
}

