// support
.support-area{
    padding-top: 122px;
    .container{
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 100px;
        .support-content{
            text-align: center;
            .support-single-content{
                .support-image{
                    padding-bottom: 21px;
                }
                .support-title{
                    color: $title-color;
                    font-size: $fs18;
                    line-height: 40px;
                    padding-bottom: 4px;
                }
                .support-sub-title{
                    color: $gray-color;
                    font-size: $fs15;
                    max-width: 290px;
                }
            }
        }
        .video-sudeo{
            padding-right: 0;
        }
    }
    
}