// main-client page
body{
    font-family: 'Quicksand', sans-serif;
}
.client-area{
    background-image: url("../images/banner/clientbg.png");
    padding: 226px 0 155px 0;
    .Breadcrum-content{
        .title{
            font-size: 55px;
            line-height: 65px;
            text-transform: capitalize;
        }
        .sub-title{
            font-size: 18px;
        }
    }
}
// client-review-area
.client-review-area{
    padding: 120px 0 126px 0;
    background-color: $videobg-color;
    border-bottom: 10px solid $white-color;
    .client-single-content{
        background-color: $white-color;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        padding: 38px 40px 44px 40px;
        .client-quote{
            i{
                color: #f2f2f2;
                font-size: 50px;
                padding-bottom: 20px;
            }
        }
        .client-review-text{
            p{
                color: $gray-color;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 1.1px;
                padding-bottom: 20px;
            }
        }
        .client-member {
            .client-image{
                margin-right: 20px;
                img{}
            }
            .client-bio{
                .client-name{
                    font-size: 18px;
                    line-height: 32px;
                }
                .client-job{
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}
// testimonial Hom3 06
.testimonial-area{
    padding: 93px 0 108px 0;
    .owl-carousel{
        display: block;
    }
    .review-title{
        @include section-title;
    }
    .client-slider{
        .testimonial-content{
            box-shadow: rgb(0 0 0 / 24%) 0px 1px 9px;
            position: relative;
            padding: 0 0 54px 40px;
            margin: 56px 0 66px 0;
            &::after{
                content: "\f10d";
                color: $btnbg-color;
                font-family: "Font Awesome 6 free";
                font-size: 48px;
                font-weight: 600;
                left: 40px;
                position: absolute;
                top: -38px;
            }
            .client-para{
                color: $gray-color;
                font-size: 18px;
                line-height: 32px;
                padding: 55px 155px 9px 0;
            }
            .client-details{
                display: flex;
                .client-image{
                    padding-right: 20px;
                }
                .client-bio{
                    // .client-name{}
                    .client-status{
                        color: $gray-color;
                        a{
                            color: $gray-color;
                        }
                    }
                }
            }
        }
    }
    .owl-item.active {
        margin-right: 34px!important;
        margin-left: 2px;
    }
    .owl-theme .owl-dots .owl-dot span{
        border: 1px solid $btnbg-color;
        background-color: transparent;
    }
    .owl-theme .owl-dots .owl-dot.active span{
        background-color: $btnbg-color;
    }
}

// home6
.testimonial-area.home6 .client-slider .testimonial-content::after {
    color: $home6-color;
}







