@charset "UTF-8";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
body {
  font-family: "Roboto", sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Quicksand", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.home6-color {
  color: #246efb;
}

.mobile-container {
  margin: auto;
  color: white;
  background-color: transparent;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #000000;
  position: relative;
}

.topnav #myLinks {
  display: none;
  text-align: center;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.mobile-container .active {
  background-color: #000000;
  color: #ffffff;
}

header .header-top {
  left: 0;
  min-height: 80px;
  position: absolute;
  width: 100%;
}
header .header-top .container-fluid {
  padding: 0px 80px;
}
header .header-top .container-fluid .header-top .row {
  align-items: center;
}
header .header-top .container-fluid .header-top .row .blog-header-logo {
  max-width: 126px;
  height: auto;
}
header .header-top .container-fluid .header-top .row .header-logo a img {
  max-width: 100px;
}
header .header-top .main-nav ul li {
  display: inline-block;
  list-style: none;
  padding: 57px 21px;
}
header .header-top .main-nav ul li:hover a:before {
  transform: scaleX(1);
}
header .header-top .main-nav ul li a {
  color: white;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
header .header-top .main-nav ul li a:before {
  background-color: #ffffff;
  bottom: -2px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transition: all 0.3s;
  width: 100%;
}
header .header-top .get-now-btn {
  align-items: center;
  display: flex;
}
header .header-top .get-now-btn a {
  border-radius: 30px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 36px;
  transition: all 0.5s;
  display: inline-block;
  margin-left: 33px;
}
header .header-top .get-now-btn:hover.get-now-btn a {
  background-color: #ffffff;
  color: #000000;
}

header.home5 .header-top .container-fluid .header-top .row .header-logo a img {
  max-width: 100px;
}
header.home5 .header-top .main-nav ul li:hover a {
  color: #1ba555;
}
header.home5 .header-top .main-nav ul li:hover a:before {
  transform: scaleX(1);
}
header.home5 .header-top .main-nav ul li a {
  color: #000000;
}
header.home5 .header-top .main-nav ul li a:before {
  background-color: #1ba555;
}
header.home5 .header-top .get-now-btn a {
  border-radius: 30px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 36px;
  transition: all 0.5s;
  color: #1ba555;
  border-color: #1ba555;
}
header.home5 .header-top .get-now-btn:hover.get-now-btn a {
  background-color: #1ba555;
  color: #ffffff;
}

header.home6 .header-top .container-fluid .header-top .row .header-logo a img {
  max-width: 100px;
}
header.home6 .header-top .main-nav ul li:hover a {
  color: #246efb !important;
}
header.home6 .header-top .main-nav ul li:hover a:before {
  transform: scaleX(1);
}
header.home6 .header-top .main-nav ul li a {
  color: #000000;
}
header.home6 .header-top .main-nav ul li a:before {
  background-color: #246efb;
}
header.home6 .header-top .get-now-btn {
  align-items: center;
  display: flex;
}
header.home6 .header-top .get-now-btn a {
  border-radius: 30px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 36px;
  transition: all 0.5s;
  border-color: #246efb !important;
  color: #246efb !important;
}
header.home6 .header-top .get-now-btn:hover.get-now-btn a {
  background-color: #246efb;
  color: #ffffff !important;
}

.home4-banner-area {
  background-image: url("../images/banner/home4-banner.png");
  background-size: contain;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.home4-banner-area .banner-left-content {
  position: relative;
  top: 59%;
}
.home4-banner-area .banner-left-content .banner-heading {
  color: #ffffff;
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  padding-bottom: 18px;
  text-transform: capitalize;
}
.home4-banner-area .banner-left-content .banner-sub-heading {
  color: #ffffff;
  font-size: 24px;
  line-height: 40px;
  padding-bottom: 38px;
  padding-right: 53px;
}
.home4-banner-area .banner-left-content .banner-btn .banner-btn-uniq {
  border-radius: 30px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 36px;
  transition: all 0.5s;
  color: #246efb !important;
  padding: 21px 41px;
}
.home4-banner-area .banner-left-content .banner-btn .banner-btn-uniq:hover {
  background-color: #ffffff;
  color: #ffffff !important;
}
.home4-banner-area .banner-left-content .banner-btn i {
  color: #000000 !important;
  font-size: 30px;
  padding: 0 18px;
}
.home4-banner-area .banner-left-content .banner-btn i:hover {
  color: #246efb !important;
}
.home4-banner-area .banner-right-content {
  position: relative;
  top: 38%;
  left: 8%;
  -webkit-animation: rotateEarth 7s infinite;
          animation: rotateEarth 7s infinite;
}

.home4-banner-area.home5 {
  background-image: none;
}
.home4-banner-area.home5 .banner-left-content .banner-heading {
  color: #000000;
}
.home4-banner-area.home5 .banner-left-content .banner-sub-heading {
  color: #000000;
}
.home4-banner-area.home5 .banner-left-content .banner-btn .banner-btn-uniq {
  border-radius: 30px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 36px;
  transition: all 0.5s;
  border-color: #1ba555;
  color: #1ba555;
  padding: 20px 42px;
}
.home4-banner-area.home5 .banner-left-content .banner-btn .banner-btn-uniq:hover {
  background-color: #1ba555;
  color: #ffffff;
  border: 1px solid transparent;
}
.home4-banner-area.home5 .banner-left-content .banner-btn i {
  color: #ffffff;
  font-size: 30px;
  padding: 0 18px;
}
.home4-banner-area.home5 .banner-right-content {
  position: relative;
  top: 38%;
  left: 8%;
  -webkit-animation: rotateEarth 7s infinite;
          animation: rotateEarth 7s infinite;
}

.home4-banner-area.home6 {
  background-image: url("../images/banner/home6-bannerbg.png");
}
.home4-banner-area.home6 a {
  color: #000000 !important;
}
.home4-banner-area.home6 .banner-left-content .banner-heading {
  color: #000000;
}
.home4-banner-area.home6 .banner-left-content .banner-sub-heading {
  color: #000000;
}
.home4-banner-area.home6 .banner-left-content .banner-btn .banner-btn-uniq {
  border-radius: 30px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 36px;
  transition: all 0.5s;
  border-color: #246efb;
  color: #000000;
  padding: 20px 42px;
}
.home4-banner-area.home6 .banner-left-content .banner-btn .banner-btn-uniq:hover {
  background-color: #246efb;
  color: #ffffff;
  border: 1px solid transparent;
}
.home4-banner-area.home6 .banner-left-content .banner-btn i {
  color: #ffffff;
  font-size: 30px;
  padding: 0 18px;
}
.home4-banner-area.home6 .banner-right-content {
  position: relative;
  top: 38%;
  left: 8%;
  -webkit-animation: rotateEarth 7s infinite;
          animation: rotateEarth 7s infinite;
}

.banner-area.index2.home7 {
  background-image: url("../images/banner/home7-bannerbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 80px;
}
.banner-area.index2.home7 .banner-left {
  margin-top: 35%;
  margin-left: 30%;
}
.banner-area.index2.home7 .banner-left .banner-content .banner-heading {
  color: #000000;
  font-size: 45px;
  font-weight: 600;
  line-height: 55px;
  padding-bottom: 20px;
}
.banner-area.index2.home7 .banner-left .banner-content .banner-para {
  color: #282835;
  font-size: 24px;
  line-height: 40px;
  padding-bottom: 18px;
  padding-right: 84px;
}
.banner-area.index2.home7 .banner-left .banner-content .banner-btn a {
  color: #ffffff;
}
.banner-area.index2.home7 .banner-left .banner-content .banner-btn .banner-btn1 {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 30px;
  background-color: transparent;
  font-size: 16px;
  display: inline-block;
  margin-right: 20px;
  outline: 1px solid transparent;
  padding: 17px 53px;
  text-transform: capitalize;
  transition: all 0.4s;
}
.banner-area.index2.home7 .banner-left .banner-content .banner-btn .banner-btn1:hover {
  background-color: #ffffff;
}
.banner-area.index2.home7 .banner-left .banner-content .banner-btn .banner-btn1:hover a {
  color: #000000;
}
.banner-area.index2.home7 .banner-left .banner-content .banner-btn .banner-btn2 {
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}
.banner-area.index2.home7 .banner-left .banner-content .banner-btn .banner-btn2:before {
  background-color: #ffffff;
  bottom: -6px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transition: all 0.3s;
  transform: scaleX(1);
  width: 100%;
}
.banner-area.index2.home7 .banner-left .banner-content .banner-btn .banner-btn2:hover:before {
  transform: scaleX(0);
}
.banner-area.index2.home7 .banner-right .banner-image.index2banner img {
  margin: 178px 0px 0 0px;
}

@-webkit-keyframes rotateEarth {
  0% {
    bottom: 8px;
  }
  25% {
    left: 14px;
  }
  50% {
    top: 130px;
  }
  75% {
    right: 20px;
  }
  100% {
    right: 14px;
  }
}

@keyframes rotateEarth {
  0% {
    bottom: 8px;
  }
  25% {
    left: 14px;
  }
  50% {
    top: 130px;
  }
  75% {
    right: 20px;
  }
  100% {
    right: 14px;
  }
}
.support-area {
  padding-top: 122px;
}
.support-area .container {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 100px;
}
.support-area .container .support-content {
  text-align: center;
}
.support-area .container .support-content .support-single-content .support-image {
  padding-bottom: 21px;
}
.support-area .container .support-content .support-single-content .support-title {
  color: #1a264a;
  font-size: 18px;
  line-height: 40px;
  padding-bottom: 4px;
}
.support-area .container .support-content .support-single-content .support-sub-title {
  color: #797988;
  font-size: 15px;
  max-width: 290px;
}
.support-area .container .video-sudeo {
  padding-right: 0;
}

.service-support-area {
  padding: 100px 0 100px 0;
}
.service-support-area .support-s-content .single-item .support-image {
  padding: 36px 0;
}
.service-support-area .support-s-content .single-item .support-image img {
  transition: all 0.3s;
}
.service-support-area .support-s-content .single-item .support-image img:hover {
  transform: scale(1.2);
}
.service-support-area .support-s-content .single-item .support-title {
  color: #1a264a;
  font-size: 18px;
  line-height: 30px;
}
.service-support-area .support-s-content .single-item .support-para {
  color: #797988;
  font-size: 16px;
  line-height: 28px;
  padding: 13px 10px;
}

.features-area {
  padding: 121px 0 33px 0;
  background-color: white !important;
}
.features-area .features-content {
  padding-bottom: 88px;
}
.features-area .features-content .features-text {
  padding-top: 160px;
}
.features-area .features-content .features-image1 {
  padding-left: 144px;
}
.features-area .features-content .features-text {
  max-width: 522px;
}
.features-area .features-content .features-text .features-title {
  color: #1a264a;
  font-size: 36px;
  font-weight: bold;
  line-height: 45px;
  padding-bottom: 9px;
}
.features-area .features-content .features-text2 {
  padding: 111px 155px 0 244px;
  max-width: unset;
}
.features-area .features-content .features-text2 a {
  box-shadow: none;
}
.features-area .features-content .freatures-subtitle {
  color: #797988;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 70px;
}
.features-area .features-content a {
  border-radius: 30px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 36px;
  transition: all 0.5s;
  background-color: #1ba555;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 50px -12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 16px 47px;
  transition: all 0.3s;
}
.features-area .features-content a:hover {
  border: 1px solid #1ba555;
  background-color: transparent;
  box-shadow: none;
  color: #1ba555;
}

.video-features-area {
  background-color: #f8fafc;
  padding: 104px 0 111px 0;
}
.video-features-area .video-title-area .video-title {
  color: #1a264a;
  font-size: 35px;
  line-height: 60px;
  text-align: center;
  padding-bottom: 10px;
}
.video-features-area .video-title-area .video-sub-title {
  color: #797988;
  font-size: 16px;
  line-height: 28px;
  max-width: 520px;
  margin: auto;
  padding-bottom: 71px;
}
.video-features-area .video-player-content .o-video {
  position: relative;
}
.video-features-area .video-player-content .o-video #bg-over1, .video-features-area .video-player-content .o-video #bg-over2, .video-features-area .video-player-content .o-video #bg-over3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
}
.video-features-area .video-player-content .o-video iframe {
  border-radius: 5px;
  width: 100%;
}

.explore-features-area .explore-content .explore-title {
  color: #1a264a;
  font-size: 35px;
  line-height: 60px;
  text-align: center;
}
.explore-features-area .explore-content .explore-sub-title {
  color: #797988;
  font-size: 16px;
  line-height: 28px;
  max-width: 520px;
  margin: auto;
  padding-bottom: 71px;
}

.explore-features-area {
  padding: 95px 0 29px 0;
}
.explore-features-area .explore-items .explore-single-item {
  display: flex;
  padding-bottom: 65px;
}
.explore-features-area .explore-items .explore-single-item .explore-icon {
  padding-right: 30px;
}
.explore-features-area .explore-items .explore-single-item .explore-text .explore-name {
  color: #1a264a;
  font-size: 18px;
  line-height: 43px;
}
.explore-features-area .explore-items .explore-single-item .explore-text .explore-name-bio {
  color: #797988;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  padding-right: 95px;
}

.features-area.home6 .features-content .features-text a {
  border-radius: 30px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 36px;
  transition: all 0.5s;
  box-shadow: none !important;
  color: #246efb !important;
  background-color: transparent !important;
  border: 1px solid #246efb !important;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 50px -12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 16px 47px;
  transition: all 0.3s;
}
.features-area.home6 .features-content .features-text a:hover {
  color: #ffffff !important;
  border: 1px solid transparent;
  background-color: #246efb !important;
}

.features-area.home7 .features-content a {
  border: 1px solid transparent;
  background-color: #246efb;
  box-shadow: none;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  padding: 16px 47px;
  transition: all 0.5s;
  text-transform: uppercase;
  transition: all 0.3s;
}
.features-area.home7 .features-content a:hover {
  color: #246efb;
  border: 1px solid #246efb;
  background-color: transparent;
}

/* ==========awesome-features-area ========== */
.awesome-features-area {
  background-color: #f8f8ff;
  padding: 20px 0 60px 0;
}

.awesome-features-area .section-title {
  margin-bottom: 76px;
  margin-top: 60px;
}

.awesome-features-area .section-title .main-heading {
  color: #1a264a;
  font-size: 35px;
  line-height: 60px;
  text-align: center;
}

.awesome-features-area .section-title .sub-heading {
  color: #797988;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.awesome-content {
  padding-bottom: 70px;
}

.awesome-icon {
  border-radius: 50%;
  height: 65px;
  margin-bottom: 32px;
  text-align: center;
  transition: all 0.4s;
  width: 65px;
}
.awesome-icon:hover {
  border-radius: 0;
}

.awesome-icon i {
  color: #ffffff;
  font-size: 26px;
  line-height: 65px;
  text-align: center;
}

.awesome-heading {
  color: #71777f;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  padding-bottom: 5px;
}

.awesome-para {
  color: #282835;
  font-size: 16px;
  line-height: 28px;
  padding-right: 67px;
}

.awfeatures-image img {
  margin-left: 47px;
}

.user-count-area {
  background-image: url("../images/banner/userbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 483px;
}
.user-count-area .count-area {
  padding-top: 130px;
}
.user-count-area .count-area .user-count {
  font-size: 50px;
  line-height: 60px;
}
.user-count-area .count-area .count-text {
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  display: inline-block;
}
.user-count-area .count-area .count-help {
  font-size: 24px;
  line-height: 35px;
  padding: 11px 0 55px 0;
}
.user-count-area .count-area a {
  border-radius: 30px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 36px;
  transition: all 0.5s;
  border-radius: 40px;
  background-color: #ffffff;
  color: #1ba555;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 25px 111px;
  transition: all 0.3s;
}
.user-count-area .count-area a:hover {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.user-count-area.home6 {
  background-image: url("../images/blog/home6-user.png");
}

.home7.home6 .user-count-area .count-area a {
  border-radius: 40px;
  background-color: #ffffff;
  color: #246efb;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 25px 111px;
  transition: all 0.3s;
}

body {
  font-family: "Quicksand", sans-serif;
}

.client-area {
  background-image: url("../images/banner/clientbg.png");
  padding: 226px 0 155px 0;
}
.client-area .Breadcrum-content .title {
  font-size: 55px;
  line-height: 65px;
  text-transform: capitalize;
}
.client-area .Breadcrum-content .sub-title {
  font-size: 18px;
}

.client-review-area {
  padding: 120px 0 126px 0;
  background-color: #f8fafc;
  border-bottom: 10px solid #ffffff;
}
.client-review-area .client-single-content {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  padding: 38px 40px 44px 40px;
}
.client-review-area .client-single-content .client-quote i {
  color: #f2f2f2;
  font-size: 50px;
  padding-bottom: 20px;
}
.client-review-area .client-single-content .client-review-text p {
  color: #797988;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1.1px;
  padding-bottom: 20px;
}
.client-review-area .client-single-content .client-member .client-image {
  margin-right: 20px;
}
.client-review-area .client-single-content .client-member .client-bio .client-name {
  font-size: 18px;
  line-height: 32px;
}
.client-review-area .client-single-content .client-member .client-bio .client-job {
  font-size: 16px;
  line-height: 24px;
}

.testimonial-area {
  padding: 93px 0 108px 0;
}
.testimonial-area .owl-carousel {
  display: block;
}
.testimonial-area .review-title {
  color: #1a264a;
  font-size: 35px;
  line-height: 60px;
  text-align: center;
}
.testimonial-area .client-slider .testimonial-content {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 9px;
  position: relative;
  padding: 0 0 54px 40px;
  margin: 56px 0 66px 0;
}
.testimonial-area .client-slider .testimonial-content::after {
  content: "\f10d";
  color: #1ba555;
  font-family: "Font Awesome 6 free";
  font-size: 48px;
  font-weight: 600;
  left: 40px;
  position: absolute;
  top: -38px;
}
.testimonial-area .client-slider .testimonial-content .client-para {
  color: #797988;
  font-size: 18px;
  line-height: 32px;
  padding: 55px 155px 9px 0;
}
.testimonial-area .client-slider .testimonial-content .client-details {
  display: flex;
}
.testimonial-area .client-slider .testimonial-content .client-details .client-image {
  padding-right: 20px;
}
.testimonial-area .client-slider .testimonial-content .client-details .client-bio .client-status {
  color: #797988;
}
.testimonial-area .client-slider .testimonial-content .client-details .client-bio .client-status a {
  color: #797988;
}
.testimonial-area .owl-item.active {
  margin-right: 34px !important;
  margin-left: 2px;
}
.testimonial-area .owl-theme .owl-dots .owl-dot span {
  border: 1px solid #1ba555;
  background-color: transparent;
}
.testimonial-area .owl-theme .owl-dots .owl-dot.active span {
  background-color: #1ba555;
}

.testimonial-area.home6 .client-slider .testimonial-content::after {
  color: #246efb;
}

.app-display-area {
  background-image: url("../images/banner/app-displaybg.png");
  height: 900px;
  text-align: center;
}
.app-display-area .app-headline {
  font-size: 35px;
  line-height: 45px;
  padding-top: 103px;
  padding-bottom: 83px;
}
.app-display-area .app-display-image {
  padding-bottom: 15px;
  margin-right: 110px;
}
.app-display-area .app-display-btn a {
  border-radius: 30px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 36px;
  transition: all 0.5s;
  border: 1px solid #1ba555;
  color: #1ba555;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  line-height: 50px;
  height: 51px;
  margin-right: 28px;
  padding: 0;
  transition: all 0.3s;
  width: 152px;
}
.app-display-area .app-display-btn a:hover {
  color: #ffffff;
  background-color: #1ba555;
}
.app-display-area .app-display-btn a i {
  padding-right: 16px;
}

.footer-top {
  background-color: #282835;
  padding: 58px 0 61px 0;
}
.footer-top .footer-content1 .f-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  background: linear-gradient(to right, #4a77e7 0%, #af95fb 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-top .footer-content1 .f-title a {
  color: #1ba555;
  font-size: 30px;
  line-height: 30px;
}
.footer-top .footer-content1 .footer-text P {
  color: #b8b8c2;
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 30px;
}
.footer-top .footer-content1 .footer-social-icon li {
  color: #b8b8c2;
  font-size: 14px;
  display: inline-block;
  margin-right: 20px;
  transition: all 0.4s;
}
.footer-top .footer-content2 .f-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 34px;
}
.footer-top .footer-content2 .f-text li {
  margin-bottom: 20px;
}
.footer-top .footer-content2 .f-text li i {
  color: #797988;
  margin-right: 18px;
}
.footer-top .footer-content2 .f-text li span {
  color: #b8b8c2;
  font-size: 16px;
  line-height: 28px;
}
.footer-top .footer-content3 .f-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 34px;
}
.footer-top .footer-content3 .f-text li {
  padding: 0 30px;
}
.footer-top .footer-content3 .f-text li i {
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  background: linear-gradient(to right, #4a77e7 0%, #af95fb 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  margin-left: -31px;
  color: #1ba555;
}
.footer-top .footer-content3 .f-text li span {
  color: #b8b8c2;
  font-size: 16px;
  line-height: 28px;
  margin-left: 15px;
}
.footer-top .footer-content3 .f-text li span a {
  margin-right: 18px;
}
.footer-top .footer-content3 .f-text li code {
  font-size: 16px;
  line-height: 30px;
}
.footer-top .footer-content4 .f-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 34px;
}
.footer-top .footer-content4 .f-text a img {
  height: 88px;
  width: 88px;
}
.footer-top .footer-content4 li {
  padding-top: 25px;
}
.footer-top .footer-content4 li span {
  color: #b8b8c2;
}
.footer-top .footer-content4 li span a {
  color: #ffffff;
  font-size: 16px;
  line-height: 31px;
  padding-left: 18px;
}

.footer-bottom {
  border-top: 1px solid #30303e;
  background-color: #21212e;
  padding: 4px 0;
}
.footer-bottom .footer-bottom-left {
  padding: 16px;
}
.footer-bottom .footer-bottom-left span {
  color: #585867;
  font-size: 14px;
  line-height: 21px;
}
.footer-bottom .footer-bottom-left span a {
  color: #585867;
  font-size: 14px;
  line-height: 21px;
  transition: all 0.3s;
}
.footer-bottom .footer-bottom-left span a:hover {
  color: #ffffff;
}
.footer-bottom .footer-menu ul li {
  display: inline-block;
  padding: 16px;
  transition: al 0.4s;
}
.footer-bottom .footer-menu ul li:hover a {
  color: #ffffff;
}
.footer-bottom .footer-menu ul li a {
  font-size: 14px;
  line-height: 21px;
  color: #585867;
}

/* ==========newsletter-area ========== */
.newsletter-area {
  background-image: url(../images/banner/newsbg.png);
  padding-bottom: 145px;
  padding-top: 0px !important;
  text-align: center;
}
.newsletter-area .section-title {
  font-size: 35px;
  line-height: 60px;
  margin-bottom: 46px;
  padding-top: 140px;
}
.newsletter-area .newsletter-input {
  text-align: center;
  position: relative;
}
.newsletter-area .newsletter-input input {
  border: 1px solid #ffffff;
  border-radius: 40px;
  background-color: transparent;
  min-width: 500px;
  padding: 17px 26px;
}
.newsletter-area .newsletter-input input::-moz-placeholder {
  color: #ffffff;
}
.newsletter-area .newsletter-input input:-ms-input-placeholder {
  color: #ffffff;
}
.newsletter-area .newsletter-input input::placeholder {
  color: #ffffff;
}
.newsletter-area .newsletter-input .submit-btn {
  background-color: #ffffff;
  color: #1ba555;
  font-weight: bold;
  margin-left: -74px;
  min-width: 200px !important;
  padding: 17px 26px;
  text-transform: uppercase;
}

.newsletter-area.home6 {
  background-image: url("../images/banner/home6-newsbg.png");
  background-size: contain;
}

.blog-area {
  padding: 102px 0 114px 0;
}
.blog-area .section-title {
  text-align: center;
}
.blog-area .section-title .main-heading {
  color: #1a264a;
  font-size: 35px;
  line-height: 60px;
  padding-bottom: 10px;
}
.blog-area .section-title .sub-heading {
  font-size: 16px;
  line-height: 28px;
  max-width: 555px;
  margin: auto;
  padding-bottom: 70px;
}
.blog-area .single-blog-content .blog-image img {
  border-radius: 5px;
}
.blog-area .single-blog-content .blog-pdetails .home5-blog-title {
  color: #1a264a;
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  padding-top: 28px;
  padding-bottom: 10px;
}
.blog-area .single-blog-content .blog-pdetails p {
  color: #282835;
  font-size: 15px;
  line-height: 28px;
  padding-right: 52px;
}
.blog-area .single-blog-content .blog-pdetails .red-more-btn a {
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.3s;
}
.blog-area .single-blog-content .blog-pdetails .red-more-btn a:hover {
  padding-right: 10px;
}
.blog-area .single-blog-content .blog-pdetails .red-more-btn i {
  font-size: 14px;
}

body {
  font-family: "Quicksand", sans-serif;
}

.home6.team-area {
  background-color: #ffffff;
}
.home6.team-area .team-content .team-single-content {
  background-color: #ffffff;
  text-align: center;
  transition: all 0.3s;
}
.home6.team-area .team-content .team-single-content .team-image img {
  width: 100%;
}
.home6.team-area .team-content .team-single-content .team-details .team-name {
  color: #1a264a;
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  padding-top: 38px;
  text-transform: capitalize;
}
.home6.team-area .team-content .team-single-content .team-details .job-title {
  color: #797988;
  display: block;
  font-size: 15px;
  line-height: 15px;
  padding-bottom: 19px;
  text-transform: capitalize;
}
.home6.team-area .team-content .team-single-content .team-text {
  color: #282835;
  font-size: 15px;
  line-height: 29px;
  max-width: 245px;
  margin: auto;
}
.home6.team-area .team-content .team-single-content .team-social-link {
  padding-top: 17px;
  padding-bottom: 33px;
}
.home6.team-area .team-content .team-single-content .team-social-link i {
  font-size: 22px;
  padding: 5px 7px;
  transition: all 0.3s;
}
.home6.team-area .team-content .team-single-content .team-social-link i:hover {
  color: #246efb;
}
.home6.team-area .team-content .team-single-content:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main-team-area .team-content .team-single-content {
  background-color: #ffffff;
  text-align: center;
  transition: all 0.3s;
}
.main-team-area .team-content .team-single-content .team-image img {
  width: 100%;
}
.main-team-area .team-content .team-single-content .team-details .team-name {
  color: #1a264a;
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  padding-top: 38px;
  text-transform: capitalize;
}
.main-team-area .team-content .team-single-content .team-details .job-title {
  color: #797988;
  display: block;
  font-size: 15px;
  line-height: 15px;
  padding-bottom: 19px;
  text-transform: capitalize;
}
.main-team-area .team-content .team-single-content .team-text {
  color: #282835;
  font-size: 15px;
  line-height: 29px;
  max-width: 245px;
  margin: auto;
}
.main-team-area .team-content .team-single-content .team-social-link {
  padding-top: 17px;
  padding-bottom: 33px;
}
.main-team-area .team-content .team-single-content .team-social-link i {
  font-size: 22px;
  padding: 5px 7px;
  transition: all 0.3s;
}
.main-team-area .team-content .team-single-content .team-social-link i:hover {
  color: #246efb;
}
.main-team-area .team-content .team-single-content:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.main-team-area .team-content .team-single-content {
  background-color: #f8fafc;
}
.main-team-area .team-content .team-single-content .team-image img {
  height: 300px;
  width: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
}

.main-pricing-area.home7 {
  padding: 116px 0 122px 0;
}
.main-pricing-area.home7 .pricing-title {
  font-size: 36px;
  color: #1a264a;
  text-align: center;
}
.main-pricing-area.home7 .pricing-sub-title {
  font-size: 16px;
  line-height: 28px;
  margin: auto;
  max-width: 610px;
  padding: 15px 0 70px 0;
}
.main-pricing-area.home7 .pricing-content .base-tie {
  overflow: hidden;
  position: relative;
  transition: all 3s;
}
.main-pricing-area.home7 .pricing-content .base-tie:before {
  content: " BEST VALUE";
  font-size: 10px;
  position: absolute;
  right: -53px;
  top: 24px;
  background-color: #246efb;
  color: #ffffff;
  text-transform: uppercase;
  padding: 22px 77px;
  transition: all 0.3s;
  transform: rotate(45deg);
}
.main-pricing-area.home7 .pricing-content .pricing-single-item {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  padding-top: 40px;
  padding-bottom: 72px;
}
.main-pricing-area.home7 .pricing-content .pricing-single-item:hover .pricing-btn a {
  background-color: #246efb;
  color: #ffffff;
}
.main-pricing-area.home7 .pricing-content .pricing-image {
  margin-bottom: 39px;
}
.main-pricing-area.home7 .pricing-content .pricing-heading {
  color: #246efb;
  font-size: 24px;
  line-height: 27px;
  padding-bottom: 20px;
}
.main-pricing-area.home7 .pricing-content .pricing-list li {
  line-height: 38px;
  font-size: 16px;
}
.main-pricing-area.home7 .pricing-content .pricing-package {
  position: relative;
  margin-top: 45px;
}
.main-pricing-area.home7 .pricing-content .pricing-package sup, .main-pricing-area.home7 .pricing-content .pricing-package sub {
  color: #246efb;
  font-size: 26px;
  line-height: 40px;
}
.main-pricing-area.home7 .pricing-content .pricing-package span {
  color: #246efb;
  font-size: 65px;
  line-height: 30px;
  padding: 0 5px 0 20px;
}
.main-pricing-area.home7 .pricing-content .pricing-package sup {
  position: absolute;
}
.main-pricing-area.home7 .pricing-content .pricing-btn {
  margin-top: 60px;
}
.main-pricing-area.home7 .pricing-content .pricing-btn a {
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #246efb;
  color: #246efb;
  font-size: 16px;
  line-height: 35px;
  padding: 19px 53px;
  transition: all 0.3s;
}
.main-pricing-area.home7 .pricing-image img {
  min-height: 68px;
}

.main-pricing-area {
  padding: 70px 0 80px 0 !important;
}

.pricing-area {
  background-color: #f8fafc;
  padding: 100px 0;
}
.pricing-area .section-title .main-heading {
  font-size: 36px;
  color: #1a264a;
  text-align: center;
}
.pricing-area .section-title .sub-heading {
  font-size: 16px;
  line-height: 28px;
  margin: auto;
  max-width: 610px;
  padding: 15px 0 70px 0;
  padding: 15px 0 133px 0;
}

section.main-pricing-area {
  padding-top: 26px;
}

.nav-link.pricing {
  border-radius: 40px 0 0px 40px;
  margin-top: -88px;
  padding: 17px 108px;
  text-align: center;
}

.nav-link.pricing2 {
  border-radius: 0 40px 40px 0;
  margin-top: -88px;
  padding: 17px 108px;
  text-align: center;
}

.pricing-content {
  background-color: #ffffff;
  padding: 0px 0 0px 0;
  transition: all 0.3s;
  text-align: center;
  margin-bottom: 45px;
  margin-top: 50px;
}

.review-tab-wrapper .nav-tabs .nav-link {
  border: 1px solid #b6b6c5;
}

.review-tab-wrapper .nav-tabs {
  border-bottom: 1px solid transparent;
  justify-content: center;
  margin-top: 6px;
}

button#description-tab.active,
button#review-tab.active {
  background-color: #faf5ff;
}

.tabs-pricing {
  padding-bottom: 60px;
}

.pricing-content:hover {
  box-shadow: rgba(3, 3, 3, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.price-model {
  color: #1a264a;
  font-size: 18px;
  line-height: 60px;
}

.price-highlight {
  background-color: #faf5ff;
  margin-bottom: 48px;
  padding: 22px 0 35px 0;
}

.price-highlight sup {
  color: #6509e2;
  font-size: 24px;
  line-height: 40px;
}

.price-highlight .model-rate {
  color: #6509e2;
  font-size: 72px;
  font-weight: 500;
  line-height: 40px;
}

.price-highlight .limit-time {
  color: #6509e2;
  font-size: 16px;
  line-height: 40px;
}

.user-limit, .elementlimit, .support-limit {
  color: #585e68;
  font-size: 18px;
  text-transform: capitalize;
}

.try {
  color: #d4d4d4;
  margin-bottom: 58px;
  text-transform: uppercase;
}

.pricing-btn button {
  border-radius: 40px;
  border: 1px solid rebeccapurple;
  background: transparent;
  color: var(--dark);
  font-size: 14px;
  line-height: 40px;
  padding: 9px 75px;
  transition: all 0.3s;
}

.pricing-content:hover .pricing-btn button {
  background: linear-gradient(to right, #4b0dd3 0%, #9700ff 100%);
  color: #ffffff;
}

/* ==========brand area ========== */
.brand-area {
  padding: 112px 0 220px 0;
  background-color: #f8fafc;
}

.brand-area .section-title {
  margin-bottom: 110px;
  text-align: center;
}
.brand-area .section-title .main-heading {
  color: #1a264a;
  font-size: 36px;
}
.brand-area .section-title .sub-heading {
  font-size: 16px;
  line-height: 28px;
  color: #282835;
}

.slick-dots {
  margin-top: 80px;
}

.slick-dots li {
  border-radius: 50%;
  color: transparent;
  cursor: pointer;
  height: 12px;
  margin: 0 5px;
  outline: 2px solid #246efb;
  position: relative;
  top: 80px;
  padding: 0;
  width: 12px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slick-dots li button:before {
  font-size: 59px;
  top: -4px;
  left: -4px;
  width: 100%;
  height: 100%;
  content: "•";
  color: #ffffff;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #000000;
  color: #246efb;
}

.brand-area img {
  width: auto !important;
}

/* ==========app area ========== */
.app-area {
  background-color: #246efb;
  color: #ffffff;
  padding-top: 54px;
  position: relative;
}

.app-heading {
  padding-bottom: 49px;
  position: relative;
}

.app-heading::after {
  bottom: 43px;
  background-color: #ffffff;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 30px;
}

.app-heading::before {
  bottom: 43px;
  background-color: #ffffff;
  content: "";
  height: 1px;
  left: 33px;
  position: absolute;
  width: 70px;
}

.app-btn1.marg-right:hover .app-apple-icon i, .app-btn1.marg-right:hover .app-btn-para, .app-btn1.marg-right:hover .app-btn-store {
  color: #ffffff;
}

.app-btn1.marg-left:hover .app-apple-icon i, .app-btn1.marg-left:hover .app-btn-para, .app-btn1.marg-left:hover .app-btn-store {
  color: #ffffff;
}

.app-heading {
  padding-bottom: 48px;
}

.app-area::before {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 11;
}

.app-left-content {
  padding-top: 91px;
}

.app-heading h4 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 5px;
}

.app-para p {
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 24px;
  padding-right: 84px;
}

.app-btn button {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #ffffff;
  padding: 5px 33px;
  transition: all 0.3s;
}

.app-btn button a {
  align-items: center;
  background: transparent;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.app-btn button:hover {
  background-color: #ffffff;
  transition: all 0.3s;
}

.app-btn button:hover .app-apple-icon i, .app-btn button:hover .app-btn-para, .app-btn button:hover h5 {
  color: #000000;
  transition: all 0.4s;
}

.app-apple-icon i {
  font-size: 32px;
  padding-right: 15px;
  transition: all 0.3s;
}

.app-btn-para {
  font-size: 12px;
  line-height: 21px;
  transition: all 0.3s;
}

.app-btn-store {
  font-size: 20px;
  line-height: 21px;
  transition: all 0.3s;
}

.marg-right {
  margin-right: 15px;
}

.app-image {
  position: relative;
}

.app-image img {
  max-height: 539px;
  width: auto;
}

.panel-title > a:before {
  float: left !important;
  font-size: 18px;
  font-family: FontAwesome;
  content: "\f068";
  padding-right: 5px;
  color: #6f62ea;
}

.panel-title > a.collapsed:before {
  float: left !important;
  content: "\f067";
  font-size: 18px;
  color: #6f62ea;
}

.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus {
  text-decoration: none;
}

.faq-area {
  background-color: #f8fafc;
}
.faq-area .accrodion-group-item {
  border: none;
}
.faq-area .accrodion-group-item .panel-default {
  border: none;
  margin: 10px 0;
}
.faq-area .accrodion-group-item .panel-default .panel-heading {
  background-color: #ffffff;
}
.faq-area .accrodion-group-item .panel-default .panel-heading .custom-title {
  color: #282835;
  font-size: 18px;
  padding: 9px 0;
}
.faq-area .accrodion-group-item .panel-default .panel-heading .panel-body {
  border: none;
}
.faq-area .panel-group .panel-heading + .panel-collapse > .panel-body, .faq-area .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: none;
}

.accodion-tabs-para {
  font-size: 16px;
}

@media (max-width: 1399.98px) {
  .home4-banner-area {
    height: 800px;
    background-size: cover;
  }
  .home4-banner-area .banner-right-content {
    left: 3%;
  }
  .features-area .features-content .features-text {
    padding-top: 54px;
  }
  .features-area .features-content .features-text {
    max-width: 100%;
    padding-top: 100px;
  }
  .features-area .features-content .features-text2 {
    padding: 111px 47px 0 108px;
    max-width: unset;
  }
}
@media (max-width: 1199.98px) {
  header .header-top .main-nav ul li {
    padding: 25px 11px;
  }
  header .get-now-btn a {
    font-size: 14px;
    padding: 9px 20px;
  }
  .home4-banner-area {
    height: 700px;
  }
  .home4-banner-area .banner-left-content .banner-sub-heading {
    font-size: 19px;
    line-height: 31px;
  }
  .home4-banner-area .banner-right-content {
    position: relative;
    top: 38%;
    left: 2%;
  }
  .support-area {
    padding-top: 50px;
  }
  .support-area .container {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 28px;
  }
  .features-area {
    padding: 48px 0 0px 0;
  }
  .features-area .features-content {
    padding-bottom: 50px;
  }
  .features-area .features-content .features-text {
    padding-top: 160px;
  }
  .features-area .features-content .features-image1 {
    padding-left: 46px;
  }
  .features-area .features-content .features-text {
    padding-top: 100px;
  }
  .features-area .features-content .features-text .features-title {
    font-size: 28px;
    line-height: 35px;
  }
  .features-area .features-content .features-text2 {
    padding: 67px 0px 0 17px;
  }
  .features-area .features-content .freatures-subtitle {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 52px;
    padding-right: 36px;
  }
  .video-features-area {
    padding: 33px 0 43px 0;
  }
  .video-features-area .video-title-area .video-title {
    color: #1a264a;
    font-size: 35px;
    line-height: 60px;
    text-align: center;
    padding-bottom: 0px;
  }
  .video-features-area .video-title-area .video-sub-title {
    padding-bottom: 41px;
  }
  .video-features-area .video-player-content .o-video iframe {
    border-radius: 5px;
    width: 100%;
  }
  .explore-features-area {
    padding: 32px 0 0px 0;
  }
  .explore-items {
    padding: 0 35px;
  }
  .explore-items .explore-single-item {
    padding-bottom: 27px;
  }
  .explore-items .explore-single-item .explore-text .explore-name-bio {
    padding-right: 0px;
  }
  .user-count-area {
    height: 290px;
  }
  .user-count-area .count-area {
    padding-top: 30px;
  }
  .user-count-area .count-area .user-count {
    font-size: 45px;
    line-height: 55px;
  }
  .user-count-area .count-area .count-text {
    font-size: 45px;
    line-height: 55px;
  }
  .user-count-area .count-area .count-help {
    padding: 0px 0 47px 0;
  }
  .testimonial-area {
    padding: 33px 0 37px 0;
  }
  .testimonial-area .owl-carousel {
    display: block;
  }
  .testimonial-area .review-title {
    color: #1a264a;
    font-size: 35px;
    line-height: 60px;
    text-align: center;
  }
  .testimonial-area .client-slider .testimonial-content {
    padding: 0 0 54px 40px;
    margin: 45px 0 37px 0;
  }
  .testimonial-area .client-slider .testimonial-content::after {
    font-size: 40px;
    top: -32px;
  }
  .testimonial-area .client-slider .testimonial-content .client-para {
    color: #797988;
    font-size: 15px;
    line-height: 32px;
    padding: 55px 34px 9px 0;
  }
  .testimonial-area .client-slider .testimonial-content .client-details {
    display: flex;
  }
  .app-display-area {
    height: 690px;
  }
  .app-display-area .app-headline {
    font-size: 30px;
    line-height: 40px;
    padding-top: 39px;
    padding-bottom: 39px;
  }
  .app-display-area .app-display-image {
    padding-bottom: 0;
    margin-right: 0;
  }
  .app-display-area .app-display-btn a {
    border-radius: 30px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 9px 36px;
    transition: all 0.5s;
    border: 1px solid #1ba555;
    color: #1ba555;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    line-height: 50px;
    height: 51px;
    margin-right: 28px;
    padding: 0;
    transition: all 0.3s;
    width: 152px;
  }
  .app-display-area .app-display-btn a i {
    padding-right: 16px;
  }
  footer .footer-top {
    padding: 24px 0 18px 0;
  }
  footer .footer-top .col-sm-4 {
    margin: 0;
  }
  footer .footer-top .footer-content1 .footer-text p {
    padding-bottom: 0;
  }
  footer .footer-top .footer-content4 .f-text a img {
    height: 88px;
    width: 88px;
    padding: 5px;
  }
  footer .footer-bottom .footer-bottom-left span {
    font-size: 12px;
  }
}
@media (max-width: 991.98px) {
  header.home5 .header-top .main-nav ul li {
    padding: 20px 9px;
  }
  header.home5 .header-top .main-nav ul li a {
    font-size: 14px;
  }
  header.home5 .header-top .get-now-btn a {
    font-size: 14px;
    padding: 7px 14px;
    margin-left: 10px;
  }
  .home4-banner-area {
    height: 500px;
  }
  .home4-banner-area .banner-left-content .banner-heading {
    font-size: 35px;
    line-height: 45px;
    padding-bottom: 10px;
  }
  .home4-banner-area .banner-left-content .banner-sub-heading {
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 20px;
    padding-right: 10px;
  }
  .home4-banner-area .banner-left-content .banner-btn .banner-btn-uniq {
    padding: 13px 18px;
    margin-right: 0px;
    font-size: 14px;
  }
  .home4-banner-area .banner-left-content .banner-btn i {
    font-size: 18px;
    padding: 0 10px;
  }
  .home4-banner-area.home5 .banner-left-content .banner-btn .banner-btn-uniq {
    border-radius: 30px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 9px 36px;
    transition: all 0.5s;
    border-color: #1ba555;
    color: #1ba555;
    padding: 20px 42px;
  }
  .home4-banner-area.home5 .banner-left-content .banner-btn i {
    color: #ffffff;
    font-size: 24px;
    padding: 0 9px;
  }
  .support-area .container .support-content .support-single-content .support-title {
    font-size: 14px;
    line-height: 22px;
  }
  .support-area .container .support-content .support-single-content .support-sub-title {
    font-size: 12px;
    max-width: 290px;
  }
  .features-area {
    padding: 48px 0 0px 0;
  }
  .features-area .features-content {
    padding-bottom: 50px;
  }
  .features-area .features-content .features-text {
    padding-top: 160px;
  }
  .features-area .features-content .features-image2 {
    padding-right: 34px;
  }
  .features-area .features-content .features-image1 {
    padding-left: 19px;
  }
  .features-area .features-content .features-text {
    padding-top: 0px;
  }
  .features-area .features-content .features-text2 {
    padding: 0px 0px 0 17px;
  }
  .video-features-area .video-player-content .o-video:before {
    background-image: url("../images/blog/video.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .explore-features-area .explore-content .explore-sub-title {
    font-size: 14px;
    line-height: 28px;
    max-width: 455px;
    margin: auto;
    padding-bottom: 40px;
  }
  .blog-area .single-blog-content .blog-pdetails p {
    padding-right: 0px;
  }
  .testimonial-area .owl-item.active {
    margin-right: 0px !important;
    margin-left: 2px;
  }
  footer .footer-top .footer-content4 .f-text a img {
    height: 120px;
    width: 120px;
  }
  footer .footer-top .footer-content1 .footer-social-icon li {
    margin-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .home4-banner-area {
    height: 411px;
  }
  .home4-banner-area .banner-left-content {
    top: 45%;
  }
  .home4-banner-area .banner-left-content .banner-heading {
    font-size: 26px;
    line-height: 35px;
  }
  .home4-banner-area .banner-left-content .banner-sub-heading {
    font-size: 14px;
    line-height: 22px;
    padding-right: 0px;
  }
  .home4-banner-area .banner-right-content {
    top: 25%;
    left: 0%;
  }
  .home4-banner-area.home5 .banner-left-content .banner-btn .banner-btn-uniq {
    border-radius: 30px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 9px 36px;
    transition: all 0.5s;
    border-color: #1ba555;
    color: #1ba555;
    padding: 13px 16px;
  }
  .support-area .container .support-content .support-single-content .support-title {
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 0px;
  }
  .support-area .container .support-content .support-single-content .support-sub-title {
    color: #797988;
    font-size: 12px;
    max-width: 290px;
  }
  .features-area .features-content .features-image {
    max-width: 60%;
    margin: auto;
  }
  .red-more-btn {
    margin-bottom: 20px;
  }
  .blog-area {
    padding: 25px 0 10px 0;
  }
  .blog-area .section-title .sub-heading {
    padding-bottom: 30px;
  }
  .user-count-area .count-area a {
    padding: 20px 80px;
  }
  .app-display-area {
    height: 533px;
    background-position: bottom;
  }
  .app-display-area .app-display-btn a {
    margin-right: 4px;
    line-height: 40px;
    height: 40px;
    font-size: 9px;
    width: 105px;
  }
  footer .footer-top .footer-content4 .f-text a img {
    height: 120px;
    width: 180px;
  }
}
@media (max-width: 575.98px) {
  .home4-banner-area {
    height: 575px;
  }
  .home4-banner-area .banner-left-content {
    top: 30%;
  }
  .home4-banner-area .banner-right-content {
    left: 12%;
    top: 50%;
    -webkit-animation: none;
            animation: none;
  }
  .home4-banner-area .banner-right-content img {
    max-width: 70%;
  }
  .support-area .container .support-content {
    text-align: center;
    flex-direction: column;
  }
  .support-area .container .support-content .support-sub-title {
    margin: auto;
  }
  app-display-area {
    height: 460px;
  }
  .app-display-area .app-display-btn a {
    margin-right: 1px;
    font-size: 7px;
    width: 94px;
  }
  footer .footer-top .col-sm-4 {
    display: contents;
  }
  footer .footer-content4 .row {
    justify-content: center;
  }
  .app-display-area .app-headline {
    max-width: 71%;
    font-size: 18px;
    margin: auto;
    line-height: 25px;
    padding-top: 39px;
    padding-bottom: 25px;
  }
  .testimonial-area .review-title {
    color: #1a264a;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
  .user-count-area .count-area .user-count {
    font-size: 30px;
    line-height: 40px;
  }
  .user-count-area .count-area .count-text {
    font-size: 30px;
    line-height: 40px;
  }
  .user-count-area .count-area .count-help {
    padding: 0px 0 23px 0;
    font-size: 11px;
  }
  .user-count-area .count-area a {
    padding: 14px 41px;
  }
  .user-count-area .count-area a {
    font-size: 14px;
  }
  .user-count-area {
    height: 230px;
  }
  .explore-features-area .explore-content .explore-title {
    font-size: 24px;
    line-height: 30px;
  }
  .video-features-area .video-title-area .video-title {
    font-size: 24px;
    line-height: 34px;
  }
  .features-area .features-content .features-text .features-title {
    font-size: 24px;
    line-height: 34px;
  }
  .home4-banner-area.home6 .banner-left-content .banner-btn .banner-btn-uniq {
    font-size: 14px;
    padding: 9px 36px;
    padding: 16px 34px;
  }
}
@media (max-width: 430.98px) {
  .home4-banner-area {
    height: 560px;
  }
}
/* ==========newsletter-area ========== */
@media (max-width: 767.98px) {
  .newsletter-area {
    padding-bottom: 45px;
    padding-top: 0px !important;
    background-size: contain;
  }
  .newsletter-area .section-title {
    margin-bottom: 30px;
    padding-top: 21px;
  }
  .newsletter-area .newsletter-input input {
    min-width: 288px;
    padding: 12px 15px;
  }
  .newsletter-area .newsletter-input .submit-btn {
    margin-left: -92px;
    min-width: 147px !important;
    padding: 12px 0px;
  }
  .home6.team-area .team-content .team-single-content {
    margin-bottom: 30px;
  }
}
@media (max-width: 1199.98px) {
  .banner-area.index2.home7 .banner-left .banner-content .banner-heading {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    padding-bottom: 10px;
  }
  .banner-area.index2.home7 .banner-left .banner-content .banner-para {
    font-size: 18px;
    line-height: 29px;
    padding-bottom: 18px;
    padding-right: 0px;
  }
  .banner-area.index2.home7 .banner-left .banner-content .banner-btn .banner-btn1 {
    font-size: 16px;
    margin-right: 15px;
    padding: 15px 24px;
  }
  .main-pricing-area.home7 {
    padding: 55px 0 60px 0;
  }
}
@media (max-width: 991.98px) {
  .features-area .features-content .features-text {
    padding-left: 75px;
  }
  .banner-area.index2.home7 .banner-left {
    margin-top: 35%;
    margin-left: 6%;
  }
  header .header-top .get-now-btn a {
    font-size: 14px;
    padding: 9px 15px;
    margin-left: 5px;
  }
  header .header-top .main-nav ul li {
    padding: 25px 7px;
  }
  header .header-top .main-nav ul li a {
    font-size: 14px;
  }
  .explore-features-area .explore-items .explore-single-item .explore-text .explore-name-bio {
    padding-right: 0px;
  }
  .explore-features-area .explore-items .explore-single-item {
    padding-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .banner-area.index2.home7 .banner-left {
    margin-top: 10%;
    margin-left: 5%;
  }
  .banner-area.index2.home7 .banner-right .banner-image.index2banner img {
    margin: 43px 0px 0 0px;
  }
  .pricing-content {
    margin: 20px 0;
  }
  .main-pricing-area.home7 .pricing-sub-title {
    padding: 15px 30px 25px 60px;
  }
  .features-area .features-content .features-text {
    padding-left: 0;
  }
}
@media (max-width: 575.98px) {
  .app-display-area {
    height: 480px;
  }
}
@media (max-width: 767.98px) {
  .client-area {
    padding: 80px 0 100px 0;
  }
  .client-area .Breadcrum-content .title {
    font-size: 45px;
    line-height: 60px;
  }
  .client-review-area {
    padding: 50px 0 30px 0;
  }
  .brand-area {
    padding: 50px 0 150px 0;
    background-color: #f8fafc;
  }
  .brand-area .section-title {
    margin-bottom: 50px;
  }
  .slick-dots li {
    top: 50px;
  }
}
@media (max-width: 575.98px) {
  .client-area .Breadcrum-content .title {
    font-size: 35px;
    line-height: 45px;
  }
  .client-area .Breadcrum-content .sub-title {
    font-size: 14px;
    padding: 0 30px;
  }
  .client-area {
    padding: 50px 0 50px 0;
  }
  .client-single-content {
    margin-bottom: 20px;
  }
  .client-review-area .client-single-content .client-review-text p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    padding-bottom: 10px;
  }
  .client-review-area .client-single-content .client-quote i {
    color: #f2f2f2;
    font-size: 30px;
    padding-bottom: 10px;
  }
  .client-review-area .client-single-content .client-member .client-bio .client-name {
    font-size: 16px;
    line-height: 26px;
  }
  .client-review-area .client-single-content .client-member .client-bio .client-job {
    font-size: 14px;
  }
  .client-review-area .client-single-content {
    padding: 15px 40px 44px 40px;
  }
  .brand-area .section-title .main-heading {
    font-size: 25px;
  }
  .brand-area .section-title .sub-heading {
    font-size: 14px;
    line-height: 24px;
    padding: 0 40px;
  }
  .brand-area {
    padding: 50px 0 100px 0;
  }
  footer .footer-top {
    padding: 24px 10px 18px 10px;
  }
  footer .footer-top .footer-content4 .f-text a img {
    height: 90px;
    width: 90px;
  }
}
@media (max-width: 1399.98px) {
  .app-left-content {
    padding-top: 20px;
  }
}
@media (max-width: 1199.98px) {
  .awfeatures-image img {
    margin-left: 100px;
  }
}
@media (max-width: 991.98px) {
  .awfeatures-image img {
    margin-left: 0px;
  }
  .app-para p {
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 5px;
    padding-right: 0px;
  }
  .app-btn-store {
    font-size: 14px;
    line-height: 16px;
    transition: all 0.3s;
  }
  .app-btn button {
    padding: 5px 13px;
  }
  .app-heading {
    padding-bottom: 0px;
  }
  .app-heading h4 {
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 5px;
  }
  .app-heading::after, .app-heading::before {
    display: none;
  }
  .app-left-content {
    padding-top: 0px;
  }
}
@media (max-width: 767.98px) {
  .service-support-area {
    padding: 15px 0;
  }
  .awesome-para {
    font-size: 14px;
    padding-right: 0px;
    text-align: center;
  }
  .awesome-content {
    padding-bottom: 30px;
  }
  .awesome-icon {
    margin: 20px auto;
  }
  .awesome-heading {
    text-align: center;
  }
  .awesome-features-area .section-title {
    margin-bottom: 30px;
    margin-top: 25px;
  }
  .app-btn button {
    margin-bottom: 40px;
  }
  .home6.team-area .team-content .team-single-content .team-text {
    font-size: 13px;
    line-height: 22px;
  }
  .home6.team-area .team-content .team-single-content .team-social-link i {
    font-size: 14px;
    padding: 5px 4px;
    transition: all 0.3s;
  }
  .testimonial-area {
    padding: 0px 0 37px 0;
  }
}
@media (max-width: 575.98px) {
  .service-support-area .support-s-content .single-item .support-image {
    padding: 20px 0;
  }
  .service-support-area .support-s-content .single-item .support-para {
    padding-bottom: 0px;
  }
  .awesome-features-area .section-title .main-heading {
    font-size: 30px;
    line-height: 40px;
  }
  .explore-features-area .explore-content .explore-title {
    font-size: 30px;
    line-height: 30px;
  }
}
@media (max-width: 767.98px) {
  .nav-link.pricing, .nav-link.pricing2 {
    padding: 14px 50px;
  }
  .pricing-area {
    padding: 45px 0;
  }
  .main-pricing-area {
    padding: 30px 0 30px 0 !important;
  }
}
@media (max-width: 575.98px) {
  .main-pricing-area.home7 .pricing-sub-title {
    padding: 15px 10px 25px 10px;
    font-size: 14px;
  }
  .main-pricing-area.home7 .pricing-title, .pricing-area .section-title .main-heading {
    font-size: 28px;
  }
}/*# sourceMappingURL=style.css.map */