// color
$btnbg-color: #1ba555;
$dark-color: #000000;
$gray-color: #797988;
$videobg-color: #f8fafc;
$primary-color: #6f62ea;
$para-color: #282835;
$title-color: #1a264a;
$white-color: #ffffff;
$home6-color: #246efb;
$test-color: #f9f9f9;